/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    /* colors */

    /* Font-sizes */
}

* {
    /* this will ensure that all elements width does inlcude the padding and borders within the total width. */
    /* This does force the padding and border to be included in the final specified width rather than being added on top*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Typography */


body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

.logo {
    width: 200px;
    height: 70px;
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
}

.page-header_item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 200px;
    flex: 0 1 200px;
}

.page-header_item:last-child {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;

}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

a {
    color: #000000;
}


a:visited {
    color: #67056e;
}

/* The a:hover must come after the a:visited in CSS definition in order to be effective. like */
a:hover {
    text-decoration: none;
    /* no underline when hovering over the link. */
    color: rgb(97, 76, 233);
    /* turn the link color to this color when hovering over or focusing on the link */
    cursor: pointer;
    opacity: 0.9;
}

a:focus {
    text-decoration: none;
    /* no underline when hovering over the link. */
    color: rgb(97, 76, 233);
    /* turn the link color to this color when hovering over or focusing on the link */
    cursor: pointer;
    opacity: 0.9;
}

/* the active must come after a:hover in CSS definition in order to work.*/
a:active {
    color: #016d29
}


.navigation-list__item--active {
    text-decoration: none;
}

.profile_portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    height: auto;
    /* If yoiu aren't sure what is ratio goin to beor want to keep the design more flexible, as CSS the height will automatically be set to a value that matches the correct ratio. */
    border-radius: 50%;
    /* note border radius take fou value like margin and padding */
}



.page-footer {
    clear: both;
    /* this will clear any float around the footter*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /* Note text align property can center any inline and inline block elements*/
    text-align: center;
}

.profile {
    max-width: 700px;
    /* This will keep the box from exceeding 700px*/
    margin: 0 auto;
    /* This will centre the main element */
}

/* Responsive design*/
.project-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 100px; */
    grid-gap: 20px;
}

.project__item {
    background-color: lightgray;
    padding: 10px;
}

/* I used ChatGPT to create this code, then i modified it to suit my code. */
.project__item:hover {
    background-color: #a0b7a8;
    -webkit-transform: scale(1.1) rotate(5deg);
    -ms-transform: scale(1.1) rotate(5deg);
    transform: scale(1.1) rotate(5deg);
}


/* Media queries */

/* The value (all) in the bellow code specifies to which media it should be applied. in this case is all media */
/* other possible values include (screen, print, speech) the calue (all) encompasses all of these */
/* the Maxiwidth ==> defines up to which size the rule should be applied. in this case is 500px */

/* This code block will change the layout from a 1-column grid to a 1-column grid by simple passing (1fr) to the (grid-template-columns) */
@media all and (max-width: 200px) {
    .project-list {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 200px) and (max-width: 500px) {
    .project-list {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

/* Adding intermediary step where the screen go from a 2-column grid to a 4 column grid when the screen width
 is greater than 500px but less than 750px */
@media all and (min-width: 500px) and (max-width: 750px) {
    .project-list {
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .project-list {
        grid-gap: 10px;
    }

    .project-list:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    h1 {
        font-size: 22px;
    }
}